.dongari_logo {
    font-family: 'Vidaloka', serif;
}

.dongari_footer_button {
    font-size: .6ren;
}

.dongari_footer {
    text-align:center;
    margin-top: 2ren;
}

.dongari_header {
    text-align:center;
    margin-bottom: 2ren 0;
}